.vp-doc table {
    @apply m-0;
    width: 100%;
    text-align: start;
    border-radius: 8px 8px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    overflow: unset;
    display: table;
}
.vp-doc ul {
    list-style: none;
}
